.ruleformfield-list {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.ruleformfield-list-item
{
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;

    align-items: stretch    ;
}

.ruleformfield-list-item > span {
    display: inline-block;
    padding: 2px 8px;
}

.ruleformfield-list-item > button {
    display: inline-block;
    background-color: #ccc;
    border-radius: 0;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
    font-size: 12px;
    color: #000;
}